.portrait-edit .el-upload{ width: 150px; height: 150px; border-radius: 50%; overflow: hidden;}
.portrait-edit .el-upload>img{ width: 100%; height: 100%;}

.sign-slogan{ font-size: 26px; line-height: 26px; color: #333; margin: 0 0 30px 0; text-align: center;}
.sign-form{ width: 100%; margin: 0 0 30px 0; position: relative;}
.sign-form-warning{ position: absolute; left: 0; top: 100%; line-height: 30px; font-size: 14px; color: #f85d39; padding: 0 0 0 18px; background: url(../assets/warning.png) no-repeat left;}
.sign-form-item{ width: 100%; border-radius: 4px; overflow: hidden; position: relative; transition: all 0.3s; border: 1px #eaeaea solid; height: 50px; box-sizing: border-box; box-shadow: 0 0 3px rgba(0, 0, 0, 0.08) inset;}
.sign-form-item-active{ box-shadow: initial !important; border-color: #f85d39;}
.sign-form-icon{ width: 50px; position: absolute; height: 48px; left: 0; top: 0; -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);}
.sign-form-item-active .sign-form-icon{ filter: initial !important;}
.sign-form-icon>img:nth-child(1){ display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sign-form-icon>img:nth-child(2){ display: block; position: absolute; top: 50%; right: 0; transform: translate(0, -50%);}
.sign-form-input{ width: calc(100% - 50px); position: absolute; height: 48px; top: 0; right: 0;}
.testing{ width: 114px; height: 50px; position: absolute; right: 0; top: 0; border-radius: 4px; background: rgba(0, 0, 0, 0.1);}
.sign-form-input input{ width: calc(100% - 30px); line-height: 48px; height: 48px; margin: 0 15px; display: block; border: none; outline: none; font-size: 16px; color: #333;}
.sign-form-input input::-webkit-input-placeholder{ font-size: 16px; width: #999;}
.sign-form-input input::-moz-input-placeholder{ font-size: 16px; width: #999;}
.sign-form-input input::-ms-input-placeholder{ font-size: 16px; width: #999;}
.sign-form-input input::-o-input-placeholder{ font-size: 16px; width: #999;}
.sign-form-button{ width: 100%; font-size: 16px; line-height: 50px; color: #fff; border: none; outline: none; background-color: #fc6944; background-image: linear-gradient(to right, #fe8f5c , #fc6944); cursor: pointer; box-shadow: 4px 4px 8px rgba(252, 105, 68, 0.25);}
.sign-more{ text-align: center;}
.sign-more a{ padding: 0 30px; position: relative;}
.sign-more a:nth-child(2)::after{ content: ""; position: absolute; left: 0; top: 5px; width: 1px; display: block; height: 14px; background: #ccc;}
.sign-more span{ display: inline-block; font-size: 14px; line-height: 24px; color: #666; transition: all 0.3s; cursor: pointer;}
.sign-more span:hover{ color: #f85d39;}
.sign-form-button2{ transition: all 0.3s ease-out; width: 100%; text-align: center; color: #333; font-size: 16px; border-radius: 4px; overflow: hidden; background: #fffbfb; border: 1px #eaeaea solid; box-sizing: border-box; height: 50px; line-height: 48px; outline: none; cursor: pointer;}
.sign-form-button2:hover{ background: #f85d39; color: #fff; border-color: #f85d39;}


  .schedule{ position: relative; display: flex; justify-content: space-between; margin: 0 0 30px 0;}
  .schedule-item { width: 58px; text-align: center;}
  .schedule-item>div{ font-size: 14px; line-height: 27px; color: #666;}
  .schedule-item>span { display: inline-block; width: 20px; height: 20px; background: #bababa; border-radius: 50%; border: 5px #f3f3f3 solid; box-sizing: border-box;}
  .schedule-line{ width: 131px; height: 1px; background: #f3f3f3; position: absolute; left: 39px; top: 9.5px;}
  .schedule-line:nth-child(2){ left: initial; right: 39px;}
  .schedule-item-active>div{ color: #f85d39 !important;}
  .schedule-item-active>span{ background: #f85d39 !important; border-color: #ffded5 !important;}
  .schedule-line-active{ background: #f85d39 !important;}



  .eject-popup{ z-index: 999; position: fixed; width: 100%; height: 100%; left: 0; top: 0; display: none;}
  .eject-zz{ width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); top: 0; left: 0;}
  .eject-window{ width: 560px; border-radius: 3px; overflow: hidden; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
  .eject-title{ border-top: 3px #f85d39 solid; line-height: 57px; color: #f85d39; font-size: 18px; border-bottom: 1px #eaeaea solid; padding: 0 0 0 30px; background: #fffaf9; position: relative;}
  .eject-body{ background: #fff; padding: 30px;}
  /* 弹窗样式 */
